.container {
  width: 100%;
  background-color: var(--container-color);
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  box-sizing: border-box;
  flex: 1;
}

@media screen and (max-width: 968px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
